---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";

const projects = [
  {
    title: "Back Date",
    desc: [
      "A tool to fetch GitHub activity and allow users to paint over the activity graph",
      "Generates a JSON file for a Go script to create a Git repository with backdated commits.",
      "Pushing the repository to GitHub updates the activity graph with the painted design.",
    ],
    tech: ["React", "Go", "Git"],
  },
  {
    title: "Learniverse",
    desc: [
      "Role-based authentication for learners and teachers.",
      "Teachers can create courses with videos, chapters, and pricing; students can enroll, pay, and participate in quizzes.",
    ],
    tech: ["Next.js", "UploadThings", "Prisma", "MUX"],
  },
  {
    title: "School Profiler",
    desc: [
      "UI in Next.js for visitor, students, teacher and staff",
      "Auth and roles done with jwt in postgrest with data in postgresql",
    ],
    tech: ["Next.js", "PostgRest", "Docker"],
  },
  {
    title: "Track Me",
    desc: [
      "Tracks the user in background with PWA, syncs the data in server when in foreground",
      "Local first and when network is available, sync the location records",
    ],
    tech: ["Next.js", "PWA", "Neon"],
  },
  {
    title: "UD Engrave: Portfolio & Order Management",
    desc: [
      "Portfolio website showcasing UD Enterprise’s laser engravings",
      "Order placement, tracking, and management system with real-time updates.",
      "Admin dashboard to manage products, orders, and customer inquiries.",
    ],
    tech: ["Next.js", "Drizzle", "Neon", "Motion"],
  },
  {
    title: "S3G",
    desc: [
      "Role-based access control (Admin, User) with authentication and profile management.",
      "Upload and manage images directly on AWS S3 with React Query integration.",
      "Next.js MDX for blog/content support, gallery view with likes, and personalized profiles.",
      "Admin panel for moderation and activity insights.",
    ],
    tech: ["Next.js", "Drizzle", "Neon", "AWS S3", "React Query", "Motion"],
  },
  {
    title: "Gallery",
    desc: [
      "Photography sharing platform with RBAC, photos approvals, user approvals",
      "Supabase direct db, supabase storage for images and authentication with supabase/ssr",
    ],
    tech: ["Next.js", "Prisma", "React Query", "Supabase"],
  },
];
---

<!doctype html>
<html>
  <Header title="Personal Projects | Biswash Dhungana" />
  <body>
    <div class="content">
      <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
