---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";

const projects = [
  {
    title: "Back Date",
    desc: [
      "A tool to fetch GitHub activity and allow users to paint over the activity graph",
      "Generates a JSON file for a Go script to create a Git repository with backdated commits.",
      "Pushing the repository to GitHub updates the activity graph with the painted design.",
    ],
    tech: ["React", "Go", "Git"],
  },
  {
    title: "Learniverse",
    desc: [
      "Role-based authentication for learners and teachers.",
      "Teachers can create courses with videos, chapters, and pricing; students can enroll, pay, and participate in quizzes.",
    ],
    tech: ["Next.js", "UploadThings", "Prisma", "MUX"],
  },
  {
    title: "School Profiler",
    desc: [
      "UI in Next.js for visitor, students, teacher and staff",
      "Auth and roles done with jwt in postgrest with data in postgresql",
    ],
    tech: ["Next.js", "PostgRest", "Docker"],
  },
  {
    title: "Track Me",
    desc: [
      "Tracks the user in background with PWA, syncs the data in server when in foreground",
      "Local first and when network is available, sync the location records",
    ],
    tech: ["Next.js", "PWA", "Neon"],
  },
  {
    title: "UD Engrave: Portfolio & Order Management",
    desc: [
      "Portfolio website showcasing UD Enterprise's laser engravings",
      "Order placement, tracking, and management system with real-time updates.",
      "Admin dashboard to manage products, orders, and customer inquiries.",
    ],
    tech: ["Next.js", "Drizzle", "Neon", "Motion"],
  },
  {
    title: "S3G",
    desc: [
      "Role-based access control (Admin, User) with authentication and profile management.",
      "Upload and manage images directly on AWS S3 with React Query integration.",
      "Next.js MDX for blog/content support, gallery view with likes, and personalized profiles.",
      "Admin panel for moderation and activity insights.",
    ],
    tech: ["Next.js", "Drizzle", "Neon", "AWS S3", "React Query", "Motion"],
  },
  {
    title: "Gallery",
    desc: [
      "Photography sharing platform with RBAC, photos approvals, user approvals",
      "Supabase direct db, supabase storage for images and authentication with supabase/ssr",
    ],
    tech: ["Next.js", "Prisma", "React Query", "Supabase"],
  },
];
---

<Layout title="Personal Projects | Biswash Dhungana">
  <div class="back-nav-container">
    <a href="/" class="back-nav-button w-inline-block">
      <img
        src="/assets/svgs/back.svg"
        loading="lazy"
        alt="back"
        class="back-nav-img"
      />
      <div>Back</div>
    </a>
  </div>

  <div class="content-container">
    <h1>Personal Projects</h1>
    <section class="items-container">
      <div class="resource-items">
        {
          projects.map((project) => (
            <Project
              title={project.title}
              desc={project.desc}
              tech={project.tech}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>

<style>
  .back-nav-container {
    color: var(--color-text-primary);
    letter-spacing: var(--letter-spacing-very-wide);
    text-transform: uppercase;
    align-items: center;
    margin-bottom: var(--spacing-10xl);
    font-weight: 500;
    display: flex;
  }

  .back-nav-img {
    width: 18px;
    margin-right: var(--spacing-lg);
  }

  .back-nav-button {
    color: var(--color-text-primary);
    background-color: transparent;
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-lg) calc(var(--spacing-lg) * 1.33);
    text-decoration: none;
    transition: var(--transition-normal);
    display: flex;
    align-items: center;
  }

  .back-nav-button:hover {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: var(--color-overlay-subtle);
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7xl);
    max-width: 800px;
  }

  .items-container {
    display: flex;
    flex-direction: column;
  }

  .resource-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10xl);
  }

  @media screen and (max-width: 768px) {
    .back-nav-container {
      margin-bottom: var(--spacing-6xl);
    }

    .content-container {
      gap: var(--spacing-5xl);
    }

    .resource-items {
      gap: var(--spacing-6xl);
    }
  }
</style>
