---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";

const projects = [
  {
    title: "EasyUnsub Email Client",
    desc: [
      "Built scalable backend services in Node.js (TypeScript), integrating email providers like Outlook, Imail and Gmail with Firebase for authentication and real-time functionality.",
      "Implemented Play Console payment verification, promo code management, and admin panel APIs to manage users, analytics, and configurations.",
      "Optimized system performance and scalability through efficient code design and architecture improvements.",
    ],
    tech: ["React.js", "Node.js", "FireBase", "tsoa"],
  },
  {
    title: "Mazzakotrip",
    desc: [
      "Developed booking system supporting B2C, B2B, and real-time socket-based chat and notification with Redis Adapter for scalable WebSocket communication.",
      "RBAC and ABAC for admin, agency, agents, users",
      "Designed and implemented UI, backend, and database architecture",
    ],
    tech: [
      "React.js",
      "Node.js",
      "mongoose(mongoDB)",
      "Redis",
      "AMQPCloud",
      "AWS",
    ],
  },
  {
    title: "Uheardd",
    desc: [
      "Platform is for the historically black colleges and universities, where we curate the offers, services, and scholarships that are available for black people.",
      "Resume feedback, Company programs, and scholarships",
      "Advisors, Instructor to guide the students",
    ],
    tech: ["React", "Node.js", "Redis", "Postgresql(RDS)"],
  },
  {
    title: "FATC",
    desc: [
      "Users can select the events they are going to; events are streamed from Ticketmaster’s discovery feed to our database",
      "Users can get recommendations of other users to talk to, where they share interests and events they are going to, so they can go together.",
    ],
    tech: ["Node.js", "Express.js", "Postgres(RDS)", "Redis", "AWS"],
  },
  {
    title: "Attenzone",
    desc: [
      "Guard Management System, with admin, guardoffice and client ",
      "Tracks the guards' location using the PWA and attendance with signin and out",
      "Leaflet to visualize the movements of the guard, service worker for notification",
    ],
    tech: ["Next.js", "PWA", "Prisma", "Neon"],
  },
];
---

<!doctype html>
<html>
  <Header title="Software Development | Biswash Dhungana" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Software Development</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
